@model TabPaper.ViewModels.TabViewModel
@{
    ViewBag.Title = "Compositions";
    
}
<style>
    #BinDiv {
        height: 40px;
        width: 100%;
        border: 3px double #0026ff;
    }
</style>
<script>
    function cleared() {
        localStorage.clear();
        var listHolder;
        for (listHolder = 0; listHolder < dragIDList.length; listHolder++) {
            document.getElementById(dragIDList[listHolder]).parentNode.removeChild(document.getElementById(dragIDList[listHolder]));
            document.getElementById("items").innerHTML = 'Please create a new composition.<br><a href="Compositions/LoadMusicPaper?id=1&page=1"><button>New Composition</button></a>';
        }
        
        
        }
    function allowDrop(ev) {
        ev.preventDefault();
    }
    function drag(ev) {

        ev.dataTransfer.setData("text", ev.target.id);

    }
    var NewComp = 0;
    var item = [];
    var dragIDList = [];
    function menuStart() {
       
        var holder;
        
        var splitValue;

        
        
        var lngth = localStorage.length;
        for (holder = 0; holder < lngth; holder += 1) {
            if (typeof localStorage[holder] !== 'undefined') {
                splitValue = localStorage[holder].split(',');
                if (item.includes([(`<a id="drag` + splitValue[4] + `" href="Compositions/LoadMusicPaper?id=` + splitValue[4] + `&page=1"><img id="drag` + splitValue[4] + `" src="/Content/Images/Int_Square_Blank(` + splitValue[4] + `).png" style="float:left" 
                height="20px" width="20px" draggable="true" ondragstart="drag(event)" dropzone="BinDiv"></a><br>`)])) {

                    item = item
                }
                else {
                    item += [(`<a id="drag` + splitValue[4] + `" href="Compositions/LoadMusicPaper?id=` + splitValue[4] + `&page=1"><img id="drag` + splitValue[4] + `" src="/Content/Images/Int_Square_Blank(` + splitValue[4] + `).png" style="float:left" 
                height="20px" width="20px" draggable="true" ondragstart="drag(event)" dropzone="BinDiv"></a><br>`)];
                    NewComp += 1;
                    if (NewComp <= Number(splitValue[4])) 
                    {
                        NewComp = Number(splitValue[4]) + 1;
                    }
                    dragIDList += "drag" + splitValue[4] + ",";
                }
                        
                   
            }
            else if (typeof localStorage[holder] === 'undefined') { lngth += 1; }
        }

        if (item.length === 0) { document.getElementById("items").innerHTML = 'Please create a new composition.<br><a href="Compositions/LoadMusicPaper?id=1&page=1"><button>New Composition</button></a>'; }
        else { document.getElementById("items").innerHTML = item + ['<br><a href="Compositions/LoadMusicPaper?id=' + NewComp + '&page=1"><button>New Composition</button></a>']; }
        dragIDList = dragIDList.split(',');
    }
    function drop(ev) {

        //ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        document.getElementById(data).parentNode.removeChild(document.getElementById(data));
        var count;
        var storageArray;
        var dataValue = "";
        for (count = 4; count < data.length; count++) {
            dataValue += data[count];
        }
        for (count = 0; count < localStorage.length; count++) {
            storageArray = localStorage[count].split(',');
            if ((storageArray[4] === dataValue) == true) {
                localStorage.removeItem(count);
                
            }
        }
        if ((localStorage.length === 1) == true) {
            localStorage.clear();
        }
        
    }
    
</script>
<body onload="menuStart()">

    
    <div id="items">

    </div>



    <button onclick="cleared()">Delete All</button>
    <div id="link"></div>
    <div id="BinDiv" ondragover="allowDrop(event)" ondrop="drop(event)"></div>
    
</body>