@model TabPaper.ViewModels.TabViewModel
@{
    ViewBag.Title = "Compositions";

}
<script>
    function menuStart() {
       /* document.getElementById("items").innerHTML = localStorage.length;*/
        var h;
        var elemnt = "items";
        var splt;
        var item = [];
        var lngth = localStorage.length;
        for (h = 0; h < lngth; h += 1) {
            if (typeof localStorage[h] !== 'undefined') {
                splt = localStorage[h].split(',');
                if (item.includes([(`<a id='` + splt[4] + `' href='LoadMusicPaper?id=` + splt[4] + `&page=1'><img src="/Content/Images/Int_Square_Blank(` + splt[4] + `).png" style="float:left" 
                height="20px" width="20px" draggable="true" ondragstart="drag(event)" dropzone="BinDiv"></a><br>`)])) {

                    item = item
                }
                else {
                    item += [(`<a id='` + splt[4] + `' href='LoadMusicPaper?id=` + splt[4] + `&page=1'><img src="/Content/Images/Int_Square_Blank(` + splt[4] + `).png" style="float:left" 
                height="20px" width="20px" draggable="true" ondragstart="drag(event)" dropzone="BinDiv"></a><br>`)];

                }
                        
                   
            }
            else if (typeof localStorage[h] === 'undefined') { lngth += 1; }
        }

        document.getElementById(elemnt).innerHTML = item;

    }
    function clear() {
        localStorage.clear();
        menuStart();
    }
</script>
<body onload="menuStart()">

    @*<p><b>@ViewBag.jj</b></p>*@
    <div id="items">

    </div>

    

    <p><button onclick="clear()" type="button">Delete All</button></p>

    <!--<p><button onclick="retrieve()" type="button">Click me!</button></p>-->
</body>