@model TabPaper.ViewModels.TabViewModel
@{string tbppr = "";}
<style>
    #div1 {
        height: 20px;
        width: 20px;
        margin: 3px;
        padding: 3px;
        border: 1px dotted #333333;
    }

    #div2 {
    }

    #newId {
    }

    #BinDiv {
        height: 40px;
        width: 20px;
        border: 3px double #0026ff;
    }
</style>
<script>
    function allowDrop(ev) {
        ev.preventDefault();
    }

    function drag(ev) {

        ev.dataTransfer.setData("text", ev.target.id);

    }

    function drop(ev) {


        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        document.getElementById(data).parentNode.removeChild(document.getElementById(data));


    }
    var IguessUbb = [];

 

    function copy(ev, num, num2, num3) {
        var data = ev.dataTransfer.getData("text");
        var DataVar = [];
            DataVar += data;
        var nodeCopy = document.getElementById(data).cloneNode(true);

        
        if (DataVar[5] == ":") {
            var ValueCnt;
            var value = [];
            for (ValueCnt = 0; ValueCnt < 5; ValueCnt++) {
                value += DataVar[ValueCnt];
            }

            nodeCopy.id = value + ":" + num + ":" + num2 + ":" + num3 + ";";
            ev.target.appendChild(nodeCopy);
            var splicedData = [];

            var a
            for (a = 4; a < value.length; a++) {
                splicedData += value[a];
            }
            IguessUbb += [splicedData + ", " + num + ", " + num2 + ", " + num3 + "<br>"];


            document.getElementById("result").innerHTML = IguessUbb;
        }
        else if (DataVar[6] == ":") {
            var ValueCnt;
            var value = [];
            for (ValueCnt = 0; ValueCnt < 6; ValueCnt++) {
                value += DataVar[ValueCnt];
            }
            nodeCopy.id = value + ":" + num + ":" + num2 + ":" + num3 + ";";
            ev.target.appendChild(nodeCopy);
            var splicedData = [];
            var a
            for (a = 4; a < value.length; a++) {
                splicedData += value[a];
            }
            IguessUbb += [splicedData + ", " + num + ", " + num2 + ", " + num3 + "<br>"];
            document.getElementById("result").innerHTML = IguessUbb;
        }
        else {
            nodeCopy.id = data + ":" + num + ":" + num2 + ":" + num3 + ";";
            ev.target.appendChild(nodeCopy);
            var splicedData = [];

            var a
            for (a = 4; a < DataVar.length; a++) {
                splicedData += DataVar[a];
            }
            IguessUbb += [splicedData + ", " + num + ", " + num2 + ", " + num3 + "<br>"];


            document.getElementById("result").innerHTML = IguessUbb;
        }

        }
        
        
        
    
</script>


@*change above and below*@

<h2>@ViewBag.Title</h2>

@*; border: 1px dotted #333333; height:40px; width:auto*@


@for (int s = 0; s < 8; s++)
{<!--Individual Line-->
    <div id="div2">
        @for (int i = 0; i < 7; i++)
        {

            <div style="clear:left; background-image:url('/Content/Images/TbPpr.png')">
                <!--Tab strings-->
                <p style="float:left"><b>@(i + 1) :</b></p><p style="float:left">@ViewBag.range[i]</p><p style="float:left">|</p>
                @for (int b = 0; b < 23; b++)
                {
                    <!--Tab timeline-->
                    <p style="float:left">&#8213</p>

                    <div style="float:left" id="div1" ondrop="copy(,event, @s, @i, @b)" ondragover="allowDrop(event)">
                    </div>


                   


                }
            </div>


        }
        <div style="clear:left" ondragover="allowDrop(event)" ondrop="delete (event)">
            <!--Note Values:-->
    
    @for (int t = 0; t < 33; t++)
    {

                <img id="@("drag" + t.ToString())" src="/Content/Images/Int_Square_Blank(@t).png" style="float:left" height="20px" width="20px" draggable="true" ondragstart="drag(event)" dropzone="BinDiv"><b style="float:left"> | </b>

            }
        </div>
        <div id="BinDiv" ondragover="allowDrop(event)" ondrop="drop(event)"></div>

    </div>
}

@*<p><button onclick="retrieve()" type="button">Click me!</button></p>
<p><button onclick="addEv()" type="button">Click me!</button></p>
<p><button onclick="clickCounter()" type="button">Click me!</button></p>*@
<div id="result"></div>
